**00. 文字列の逆順**

文字列”stressed”の文字を逆に（末尾から先頭に向かって）並べた文字列を得よ．

In [1]:
a = "stressed"
a[::-1]

'desserts'

**01. 「パタトクカシーー」**

「パタトクカシーー」という文字列の1,3,5,7文字目を取り出して連結した文字列を得よ．

In [2]:
s = "パタトクカシーー"
s[0::2]

'パトカー'

**02. 「パトカー」＋「タクシー」＝「パタトクカシーー」**

「パトカー」＋「タクシー」の文字を先頭から交互に連結して文字列「パタトクカシーー」を得よ．

In [3]:
''.join([a+b for a, b in zip("パトカー", "タクシー")])

'パタトクカシーー'

**03. 円周率**

“Now I need a drink, alcoholic of course, after the heavy lectures involving quantum mechanics.”という文を単語に分解し，各単語の（アルファベットの）文字数を先頭から出現順に並べたリストを作成せよ．

In [4]:
s = "Now I need a drink, alcoholic of course, after the heavy lectures involving quantum mechanics."
s = s.replace(',', '').replace('.', '')
[len(w) for w in s.split()]

[3, 1, 4, 1, 5, 9, 2, 6, 5, 3, 5, 8, 9, 7, 9]

**04. 元素記号**

“Hi He Lied Because Boron Could Not Oxidize Fluorine. New Nations Might Also Sign Peace Security Clause. Arthur King Can.”という文を単語に分解し，1, 5, 6, 7, 8, 9, 15, 16, 19番目の単語は先頭の1文字，それ以外の単語は先頭の2文字を取り出し，取り出した文字列から単語の位置（先頭から何番目の単語か）への連想配列（辞書型もしくはマップ型）を作成せよ．

In [5]:
s = "Hi He Lied Because Boron Could Not Oxidize Fluorine. New Nations Might Also Sign Peace Security Clause. Arthur King Can."
d = {}
map = [1, 5, 6, 7, 8, 9, 15, 16, 19]
s = s.replace('.', '').split()
for i, w in enumerate(s):
    if i+1 in map:
        d[w[:1]] = i+1
    else:
        d[w[:2]] = i+1
d

{'H': 1,
 'He': 2,
 'Li': 3,
 'Be': 4,
 'B': 5,
 'C': 6,
 'N': 7,
 'O': 8,
 'F': 9,
 'Ne': 10,
 'Na': 11,
 'Mi': 12,
 'Al': 13,
 'Si': 14,
 'P': 15,
 'S': 16,
 'Cl': 17,
 'Ar': 18,
 'K': 19,
 'Ca': 20}

**05. n-gram**

与えられたシーケンス（文字列やリストなど）からn-gramを作る関数を作成せよ．この関数を用い，”I am an NLPer”という文から単語bi-gram，文字bi-gramを得よ．

In [6]:
def ngram(s, n):
    ngram = []
    for i in range(len(s) - n + 1):
        ngram.append(s[i:i+n])
    return ngram

ngram("I am an NLPer".split(), 2)

[['I', 'am'], ['am', 'an'], ['an', 'NLPer']]

In [7]:
ngram("I am an NLPer", 2)

['I ', ' a', 'am', 'm ', ' a', 'an', 'n ', ' N', 'NL', 'LP', 'Pe', 'er']

**06. 集合**

“paraparaparadise”と”paragraph”に含まれる文字bi-gramの集合を，それぞれ, XとYとして求め，XとYの和集合，積集合，差集合を求めよ．さらに，’se’というbi-gramがXおよびYに含まれるかどうかを調べよ．

In [8]:
X = set(ngram("paraparaparadise", 2))
Y = set(ngram("paragraph", 2))

print(X)
print(Y)
print(X | Y)
print(X & Y)
print(X - Y)
print(Y - X)
print("se" in X)
print("se" in Y)

{'ra', 'di', 'ar', 'ap', 'ad', 'is', 'pa', 'se'}
{'ra', 'ph', 'ar', 'ag', 'ap', 'pa', 'gr'}
{'ra', 'ph', 'di', 'ar', 'ap', 'ad', 'ag', 'is', 'pa', 'gr', 'se'}
{'pa', 'ra', 'ar', 'ap'}
{'is', 'di', 'se', 'ad'}
{'ph', 'gr', 'ag'}
True
False

**07. テンプレートによる文生成**

引数x, y, zを受け取り「x時のyはz」という文字列を返す関数を実装せよ．さらに，x=12, y=”気温”, z=22.4として，実行結果を確認せよ．

In [9]:
def sentence(x, y, z):
    return str(x) + '時の' + str(y) +  'は' + str(z)

sentence(12, "気温", 22.4)

'12時の気温は22.4'

**08. 暗号文**

与えられた文字列の各文字を，以下の仕様で変換する関数cipherを実装せよ．

英小文字ならば(219 - 文字コード)の文字に置換
その他の文字はそのまま出力
この関数を用い，英語のメッセージを暗号化・復号化せよ．

In [10]:
def cipher(s):
    r = []
    for _ in s:
        if 97 <= ord(_) <= 122:
            r.append(chr(219 - ord(_)))
        else:
            r.append(_)
    return ''.join(r)

cipher("'I am an NLPer'")

"'I zn zm NLPvi'"

In [11]:
cipher('I zn zm NLPvi')

'I am an NLPer'

**09. Typoglycemia**

スペースで区切られた単語列に対して，各単語の先頭と末尾の文字は残し，それ以外の文字の順序をランダムに並び替えるプログラムを作成せよ．ただし，長さが４以下の単語は並び替えないこととする．適当な英語の文（例えば”I couldn’t believe that I could actually understand what I was reading : the phenomenal power of the human mind .”）を与え，その実行結果を確認せよ．

In [12]:
import random
s = "I couldn’t believe that I could actually understand what I was reading : the phenomenal power of the human mind ."
r = []
for _ in s.split():
    if len(_) > 4:
        inter = list(_[1:-1])
        random.shuffle(inter)
        r.append(_[0] + ''.join(inter) + _[-1])
    else:
        r.append(_)
' '.join(r)

'I cun’dlot bevleie that I cluod autclaly udeantsnrd what I was rnediag : the pehmanoenl peowr of the hamun mind .'

**10. 行数のカウント**

行数をカウントせよ．確認にはwcコマンドを用いよ．

In [64]:
!curl -o ./data/nlp_100_0_19/popular-names.txt --create-dirs https://nlp100.github.io/data/popular-names.txt

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 55026  100 55026    0     0   238k      0 --:--:-- --:--:-- --:--:--  238k

In [65]:
!wc popular-names.txt

    2780   11120   55026 popular-names.txt

In [79]:
import pandas as pd
s = pd.read_csv("./data/nlp_100_0_19/popular-names.txt", delimiter='\t', header=None)
len(s)

2780

**11. タブをスペースに置換**

タブ1文字につきスペース1文字に置換せよ．確認にはsedコマンド，trコマンド，もしくはexpandコマンドを用いよ．

In [80]:
!sed 's/\t/ /g' ./data/nlp_100_0_19/popular-names.txt > ./data/nlp_100_0_19/tab_replaced.txt

In [81]:
!head -n 2 ./data/nlp_100_0_19/popular-names.txt

Mary	F	7065	1880
Anna	F	2604	1880

In [82]:
!head -n 2 ./data/nlp_100_0_19/tab_replaced.txt

Mary	F	7065	1880
Anna	F	2604	1880

In [83]:
s.to_csv("./data/nlp_100_0_19/tab_replaced_pd.txt", sep=" ", header=None, index=None)

In [84]:
!head -n 2 ./data/nlp_100_0_19/tab_replaced_pd.txt

Mary F 7065 1880
Anna F 2604 1880

**12. 1列目をcol1.txtに，2列目をcol2.txtに保存**

各行の1列目だけを抜き出したものをcol1.txtに，2列目だけを抜き出したものをcol2.txtとしてファイルに保存せよ．確認にはcutコマンドを用いよ．

In [85]:
!cut -f 1 ./data/nlp_100_0_19/popular-names.txt > ./data/nlp_100_0_19/col1.txt
!cut -f 2 ./data/nlp_100_0_19/popular-names.txt > ./data/nlp_100_0_19/col2.txt

In [86]:
!head -n 2 ./data/nlp_100_0_19/col1.txt
!head -n 2 ./data/nlp_100_0_19/col2.txt

Mary
Anna
F
F

In [87]:
!cut -f 1 -d " " ./data/nlp_100_0_19/tab_replaced.txt | head -n 2

Mary	F	7065	1880
Anna	F	2604	1880

In [89]:
import pandas as pd
df = pd.read_csv("./data/nlp_100_0_19/popular-names.txt", header=None, delimiter="\t")
df.iloc[:, 0].to_csv("./data/nlp_100_0_19/col1_pd.txt", header=None, index=None)
df.iloc[:, 1].to_csv("./data/nlp_100_0_19/col2_pd.txt", header=None, index=None)

/Users/uchi_k/.pyenv/versions/anaconda3-5.3.1/lib/python3.7/site-packages/ipykernel_launcher.py:3: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.
  This is separate from the ipykernel package so we can avoid doing imports until
/Users/uchi_k/.pyenv/versions/anaconda3-5.3.1/lib/python3.7/site-packages/ipykernel_launcher.py:4: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.
  after removing the cwd from sys.path.

In [90]:
!head -n 2 ./data/nlp_100_0_19/col1_pd.txt
!head -n 2 ./data/nlp_100_0_19/col2_pd.txt

Mary
Anna
F
F

**13. col1.txtとcol2.txtをマージ**

12で作ったcol1.txtとcol2.txtを結合し，元のファイルの1列目と2列目をタブ区切りで並べたテキストファイルを作成せよ．確認にはpasteコマンドを用いよ．

In [91]:
!paste ./data/nlp_100_0_19/col1.txt ./data/nlp_100_0_19/col2.txt > ./data/nlp_100_0_19/col1_2.txt
!head -n 2 ./data/nlp_100_0_19/col1_2.txt

Mary	F
Anna	F

In [93]:
df_col1 = pd.read_csv("./data/nlp_100_0_19/col1.txt", header=None)
df_col2 = pd.read_csv("./data/nlp_100_0_19/col2.txt", header=None)
pd.concat([df_col1, df_col2], axis=1).to_csv("./data/nlp_100_0_19/col1_2_pd.txt", sep="\t", header=None, index=None)

In [94]:
!head -n 2 ./data/nlp_100_0_19/col1_2_pd.txt

Mary	F
Anna	F

**14. 先頭からN行を出力**

自然数Nをコマンドライン引数などの手段で受け取り，入力のうち先頭のN行だけを表示せよ．確認にはheadコマンドを用いよ．

In [95]:
df.head(3)

      0  1     2     3
0  Mary  F  7065  1880
1  Anna  F  2604  1880
2  Emma  F  2003  1880

**15. 末尾のN行を出力**

自然数Nをコマンドライン引数などの手段で受け取り，入力のうち末尾のN行だけを表示せよ．確認にはtailコマンドを用いよ．

In [96]:
!tail -n 4 ./data/nlp_100_0_19/popular-names.txt

Elijah	M	12886	2018
Lucas	M	12585	2018
Mason	M	12435	2018
Logan	M	12352	2018

In [97]:
df.tail(4)

           0  1      2     3
2776  Elijah  M  12886  2018
2777   Lucas  M  12585  2018
2778   Mason  M  12435  2018
2779   Logan  M  12352  2018

**16. ファイルをN分割する**

自然数Nをコマンドライン引数などの手段で受け取り，入力のファイルを行単位でN分割せよ．同様の処理をsplitコマンドで実現せよ．

In [100]:
!split -l 927 ./data/nlp_100_0_19/popular-names.txt ./data/nlp_100_0_19/split

In [101]:
!wc ./data/nlp_100_0_19/splitac

     926    3704   18859 ./data/nlp_100_0_19/splitac

In [102]:
N = 3
step = -(-len(df)//N)
for n in range(N):
    new_df = df[n*step:(n+1)*step]
    new_df.to_csv("".join(["./data/nlp_100_0_19/", "split", str(n), ".txt"]), sep="\t", header=None, index=None)

In [103]:
!head -n 2 ./data/nlp_100_0_19/split0.txt
!wc ./data/nlp_100_0_19/split0.txt

Mary	F	7065	1880
Anna	F	2604	1880
     927    3708   17739 ./data/nlp_100_0_19/split0.txt

**17. １列目の文字列の異なり**

1列目の文字列の種類（異なる文字列の集合）を求めよ．確認にはcut, sort, uniqコマンドを用いよ．

In [104]:
!cut -f 1 ./data/nlp_100_0_19/popular-names.txt | sort | uniq | head -n 8

Abigail
Aiden
Alexander
Alexis
Alice
Amanda
Amelia
Amy

In [105]:
new = df.iloc[:, 0].unique()
new.sort()
new[:8]

array(['Abigail', 'Aiden', 'Alexander', 'Alexis', 'Alice', 'Amanda',
       'Amelia', 'Amy'], dtype=object)

**18. 各行を3コラム目の数値の降順にソート**

各行を3コラム目の数値の逆順で整列せよ（注意: 各行の内容は変更せずに並び替えよ）．確認にはsortコマンドを用いよ（この問題はコマンドで実行した時の結果と合わなくてもよい）．

In [106]:
!cut -f 3 ./data/nlp_100_0_19/popular-names.txt | sort -n -r | head -n 8

99689
96211
94757
92704
91640
91016
90656
90517

In [107]:
df.iloc[:, 2].sort_values(ascending=False).head(8)

1340    99689
1360    96211
1350    94757
1550    92704
1351    91640
1380    91016
1530    90656
1570    90517
Name: 2, dtype: int64

**19. 各行の1コラム目の文字列の出現頻度を求め，出現頻度の高い順に並べる**

各行の1列目の文字列の出現頻度を求め，その高い順に並べて表示せよ．確認にはcut, uniq, sortコマンドを用いよ．

In [108]:
!cut -f 1 ./data/nlp_100_0_19/popular-names.txt | sort | uniq -c | sort -n -r | head -n 8

 118 James
 111 William
 108 Robert
 108 John
  92 Mary
  75 Charles
  74 Michael
  73 Elizabeth

In [109]:
wc = pd.DataFrame(df.iloc[:, 0].value_counts())
wc.sort_values([0], ascending=False)

           0
James    118
William  111
Robert   108
John     108
Mary      92
...      ...
Carolyn    1
Crystal    1
Walter     1
Rachel     1
Lori       1

[136 rows x 1 columns]